<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <title>Document</title>
</head>
<body>
  <figure class="image">
    <img src="./img/d.svg">
    <img src="./img/falar.svg">
    <img src="./img/a.svg">
    <img src="./img/casa.svg">
    <img src="./img/g.svg">
    <img src="./img/cravo.svg">
  </figure>

  <main>
    <header class="header">
      <h1>2º encontro do<br> deseño galego</h1>
      <p>Casa de Rosalía<br>27.05.2023</p>
    </header>

    <section class="section">
      <h2>Inscrición</h2>

      <p>
        <strong>Entrada gratuíta</strong><br>
        Xantar 20€ non asociada /10€ asociada
      </p>

      <p>
        <a href="" class="cta">Inscríbete aquí</a>
      </p>
    </section>

    <section class="section">
      <h2>Programa</h2>

      <dl class="timetable">
        <dt><time>10:30</time></dt>
        <dd>
          <strong>Benvida</strong>
        </dd>

        <dt><time>10:45</time></dt>
        <dd>
          <strong>Presentación AR\DE</strong><br>
          Nome Apelidos
        </dd>

        <dt><time>11:15</time></dt>
        <dd>
          <strong>Debate aberto</strong>
          <p>
            Arquivar o deseño<br>
            <em>Como preservar o legado histórico e material do deseño galego?</em>
          </p>
        </dd>

        <dt><time>13:00</time></dt>
        <dd>
          <strong>Conclusións e posta en común</strong>
        </dd>

        <dt class="is-separator"><time>13:30</time></dt>
        <dd>
          <strong>Xantar</strong>
        </dd>

        <dt><time>16:30</time></dt>
        <dd>
          <strong>Presentacións de proxectos e traballos</strong>
          <p>
            Luis Gil e Cristina Pena<br>
            <em>A importancia do patrimonio histórico e a súa conservación</em>
          </p>
          <p>
            Paula Cantero<br>
            <em>Origami Studio</em>
          </p>
          <p>
            Iago Barreiro e Alberto Carballido<br>
            <em>Novagarda</em>
          </p>
          <p>
            Anaís Fernández
          </p>
          <p>
            Luis Gil Monroy
          </p>
          <p>
            Olaia<br>
            <em>Demostra</em>
          </p>
        </dd>

        <dt><time>18:00</time></dt>
        <dd>
          <strong>Visita guiada á Casa de Rosalía</strong>
          <p>Pepe Barro</p>
        </dd>
      </dl>
    </section>
  </main>

  <footer class="footer">
    <a href="" class="footer-logo">
      Organiza
      <img src="./img/logo-dag.svg" alt="DAG">
    </a>
    <a href="" class="footer-logo">
      Colabora
      <img src="./img/logo-rosalia.svg" alt="Casa de Rosalía">
    </a>
    <address class="footer-address">
      <p>
        <strong>Casa de Rosalía</strong><br>
        A Matanza, s/n<br>
        15917 Padrón
      </p>
  </footer>
</body>
</html>